<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page }}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- component -->
    <header class="header sticky top-0 bg-drak shadow-md flex items-center justify-center px-8 py-02 bg-slate-900">
      <!-- logo -->

      <!-- navigation -->
      <nav class="nav font-semibold text-lg">
        <ul class="flex items-center">
          <li class="p-4 border-b-2 border-cyan-500 border-opacity-0 hover:border-opacity-100 hover:text-cyan-500 duration-200 cursor-pointer active">
            <a href="{% url 'home' %}">Home</a>
          </li>
          {% if user.is_authenticated %}
            <li class="p-4 border-b-2 border-cyan-500 border-opacity-0 hover:border-opacity-100 hover:text-cyan-500 duration-200 cursor-pointer active">
              <a href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="p-4 border-b-2 border-cyan-500 border-opacity-0 hover:border-opacity-100 hover:text-cyan-500 duration-200 cursor-pointer active">
              <a href="{% url 'logout' %}">Logout</a>
            </li>
          {% else %}
            <li class="p-4 border-b-2 border-cyan-500 border-opacity-0 hover:border-opacity-100 hover:text-cyan-500 duration-200 cursor-pointer active">
              <a href="{% url 'register' %}">Register</a>
            </li>
            <li class="p-4 border-b-2 border-cyan-500 border-opacity-0 hover:border-opacity-100 hover:text-cyan-500 duration-200 cursor-pointer active">
              <a href="{% url 'login' %}">Login</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    {% block content %}

    {% endblock %}
  </body>
</html>
